<main class="container">
  <app-titulo [title]="'Serviços:'"></app-titulo>
  <app-topico [topico]="'Limpeza, desinfecção e controle sanitário de ambiente'"></app-topico>
  <div class="servicos">
    <div class="section">
      <img src="assets/funcionarios2.png" alt="funcionarios2" />
      <ul>
        <li>Escolas/Faculdades</li>
        <li>Hotéis</li>
        <li>Restaurantes</li>
        <li>Hospitais</li>
        <li>Clínicas</li>
        <li>Shoppings</li>
        <li>Indústrias</li>
        <li>Condomínios</li>
        <li>Empresas em geral</li>
      </ul>
    </div>
    <div class="section">
      <ul>
        <li><b>– Fornecimento de:</b></li>
        <li>Saneantes</li>
        <li>Materiais</li>
        <li>Máquinas</li>
        <li>Equipamentos</li>
        <li>Acessórios</li>
      </ul>
      <img src="assets/funcionarios3.png" alt="funcionarios3" />
    </div>
  </div>
  <app-topico [topico]="'Administração Condominial'"></app-topico>
  <p>
    Seja seu condomínio residencial ou comercial, você conta com nossa equipe especializada para
    garantir uma administração focada na assertividade e, claro, na sua tranquilidade.
  </p>
  <div class="servicos">
    <div class="section">
      <ul>
        <li>- Geração de boletos</li>
        <li>- Cobrança de inadimplentes</li>
        <li>- Contas a Pagar</li>
        <li>- Prestação de contas digital</li>
        <li>- Departamento pessoal</li>
        <li>- Logística</li>
        <li>- Suporte administrativo</li>
        <li>- Condomínio on-line</li>
        <li>- Aplicativo</li>
      </ul>
      <img src="assets/funcionarios4.png" alt="" />
    </div>
  </div>
  <app-topico [topico]="'Treinamento e capacitação'"></app-topico>
  <p>
    Com a Única, você conta com treinamentos regulares de profissionais, aplicando os métodos mais
    eficazes e comprovados internacionalmente. Além de contar com diferenciais sem custos
    adicionais.
  </p>
  <app-topico [topico]="'Portaria'"></app-topico>
  <p>
    Tenha profissionais capacitados, fardados e equipados para garantir um serviço de portaria mais
    eficaz e de alta qualidade. É mais segurança e eficiência para o seu condomínio e despreocupação
    para você.
  </p>
  <div class="servicos">
    <div class="section">
      <ul>
        <li> - Mão de obra especializada</li>
        <li> - Rotina de portaria e zeladoria</li>
        <li> - Supervisão de condomínio</li>
        <li> - Treinamento semestral</li>
        <li> - Treinamento de brigada de incêndio</li>
        <li> - Força tarefa de limpeza sem custo adicional</li>
      </ul>
      <img src="assets/funcionarios5.png" alt="">
    </div>
  </div>
</main>
