.container {
  background-image: url('/assets/equipeLimpo.png');
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center 80px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 7rem 1rem 0 1rem;

  & .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
