<main class="container">
  <div class="secao">
    <div class="img">
      <img src="assets/funcionarios1.png" alt="" />
    </div>
    <div class="texts">
      <h1>Quem Somos:</h1>
      <p>
        A última palavra do mundo em limpeza e desinfecção tem sotaque cearense. Com padrões
        nacionais e internacionais, a Única Serviços é membro da ABRALIMP e ISSA, garantindo
        serviços eficientes, comprovados mundialmente.
      </p>
      <p>
        Escolher a Única é optar por praticidade, agilidade, segurança e tudo o que seu condomínio,
        escola, hotel, restaurante ou empresa em geral precisa para exercer as atividades com toda a
        tranquilidade.
      </p>
      <p>
        Conte também com serviços de administração de condomínios, mão de obra, capacitação,
        materiais, equipamentos e os métodos mais eficazes do mercado com uma única empresa.
      </p>
      <p>
        Tudo isso de forma a reduzir seus custos, sua preocupação e qualquer impacto ao meio
        ambiente.
      </p>
    </div>
  </div>
  <div class="sertificacoes">
    <img src="assets/abralimp.png" alt="" />
    <img src="assets/issa.png" alt="" />
  </div>
  <div class="texts">
    <h1>Missão e Valores:</h1>
    <p>
      Ser uma empresa competitiva, prestando serviços com transparência e compromisso para obter a
      satisfação e fidelização dos nossos c lientes, tornando-se uma das melhores empresas de asseio
      e conservação do Nordeste.
    </p>
    <ul>
      <li>Compromisso</li>
      <li>Desenvolvimento humano</li>
      <li>Ética</li>
      <li>Presteza</li>
      <li>Identidade</li>
    </ul>
  </div>
</main>
