/* You can add global styles to this file, and also import other style files */
:root {
  --bage: #B0A175;
  --background: #E5E5E5;
  --azul: #0A0A2F;
  --vidro: rgba(255, 255, 255, 0.2);
  --verde: #038D16;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
}