<div class="proposta">
  <form action="">
    <p>Para solicitar PROPOSTA COMERCIAL, preencha os campos abaixo.</p>
    <app-inputs [type]="'text'" [placeholder]="'Nome:'"></app-inputs>
    <div class="colun">
      <div>
        <app-inputs [type]="'tel'" [placeholder]="'Telefone:'"></app-inputs>
        <app-inputs [type]="'text'" [placeholder]="'Empresa:'"></app-inputs>
      </div>
      <div>
        <app-inputs [type]="'email'" [placeholder]="'E-mail:'"></app-inputs>
        <app-inputs [type]="'text'" [placeholder]="'Cargo:'"></app-inputs>
      </div>
    </div>
    <app-inputs [type]="'text'" [placeholder]="'Endereço da Empresa:'"></app-inputs>
    <app-button [text]="'Enviar Solicitação de PROPOSTA COMECIA'"></app-button>
  </form>
</div>
