<div class="proposta">
  <form action="">
    <p>Para solicitar PROPOSTA COMERCIAL, preencha os campos abaixo.</p>
    <input type="text" placeholder="Nome: " disabled/>
    <div class="colun">
      <div>
        <input type="tel" placeholder="Telefone: " disabled/>
        <input type="text" placeholder="Empresa: " disabled/>
      </div>
      <div>
        <input type="email" placeholder="E-mail: " disabled/>
        <input type="text" placeholder="Cargo: " disabled/>
      </div>
    </div>
    <input type="text" placeholder="Endereço da Empresa: " disabled/>
    <button disabled>Enviar Solicitação de PROPOSTA COMECIAL</button>
  </form>
</div>
